<div class = "nav-top">
    <%= link_to root_path do %>
      <i class="fas fa-chevron-circle-left"></i>
    <% end %>
</div>
<div class="container mt-4">

  <h2 style="text-align: center;", class= mb-4>My profile</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="container col-10">
      <div class="form-inputs">
        <%= f.input :email,
                    required: false ,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "log-input", placeholder: "Email" } %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :first_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "first name", class: "log-input", placeholder: "First name" }%>
        <%= f.input :last_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "last name", class: "log-input", placeholder: "Last name" }%>
        <%= f.input :phone_number,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "phone number", class: "log-input", placeholder: "Phone number" }%>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password", class: "log-input", placeholder: "New password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "log-input", placeholder: "Password confirmation" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password", class: "log-input", placeholder: "Current password" } %>
             </div>
        <div class="contacts">
          <%= f.abyme_for(:contacts, limit:3) do |abyme| %>
            <%= abyme.records %>
            <%= abyme.new_records %>
            <%= add_associated_record(html: {class:"add-button"}) do %>
                <span class="iconify button-add" data-icon="carbon:add-alt"></span>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="form-actions button-blue col-4 my-4 ", style="text-align:center;margin:0 auto">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>

<div class="alert alert-info" style="display: none;">
  Invalid phone number
</div>
