<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs container">
      <p style="text-align:center">Profile information</p>
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last name" }%>
    <%= f.input :phone_number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "phone number" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

    <p style="text-align:center">Emergency contact 1</p>
    <%= f.simple_fields_for :contacts do |g| %>
      <%= g.input :first_name %>
      <%= g.input :last_name %>
      <%= g.input :phone_number %>
    <% end %>

    <p style="text-align:center">Emergency contact 2</p>
    <%= f.simple_fields_for :contacts do |g| %>
      <%= g.input :first_name %>
      <%= g.input :last_name %>
      <%= g.input :phone_number %>
    <% end %>
  </div>

  <div class="form-actions container">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
