<div class="map-wrapper" data-navigation-ui-target="container" data-controller="navigation-ui" data-journey-id="<%= @journey.id %>">
  <% if signed_in? && @journey.user == current_user %>
    <div class = "navigation-back-buttons-div">
      <%= render 'shared/navigation_back_button' %>
    </div>
    <div class = "navigation-right-buttons-div">
      <%= render 'shared/navigation_right_buttons' %>
    </div>
    <%= render 'shared/navigation_bottom_menu' %>
    <div class = "navigation-pane-div">
      <%= render 'shared/navigation_pane' %>
    </div>
  <% else %>
    <div class="navigation-pane h-100" data-controller="map">
      <%= render 'shared/map' %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="emergencyModal" tabindex="-1" role="dialog" aria-labelledby="emergencyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content dropdown-box d-inline-flex">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <h5 class="modal-title" id="emergencyModalLabel">Select an emergency contact:</h5>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body d-flex flex-column justify-content-center call-dropdown">
        <% @contacts.each do |contact| %>
          <a class="button-sos text-center mb-2" href="tel:<%= contact.phone_number %>"> <%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
