<div class="map-wrapper" data-navigation-ui-target="container" data-controller="navigation-ui" data-journey-id="<%= @journey.id %>">
  <div class = "navigation-back-buttons-div">
    <%= render 'shared/navigation_back_button' %>
  </div>
  <div class = "navigation-right-buttons-div">
    <%= render 'shared/navigation_right_buttons' %>
  </div>

  <div class = "navigation-pane-div">
    <%= render 'shared/navigation_pane' %>
  </div>
  <%= render 'shared/navigation_bottom_menu' %>
</div>
