<div class="map-wrapper" data-navigation-ui-target="container" data-controller="navigation-ui" data-journey-id="<%= @journey.id %>">
  <div class = "navigation-back-buttons-div">
    <%= render 'shared/navigation_back_button' %>
  </div>
  <% if signed_in? && @journey.user == current_user %>
  <div class = "navigation-right-buttons-div">
    <%= render 'shared/navigation_right_buttons' %>
  </div>
  <% end %>

  <div class = "navigation-pane-div">
    <%= render 'shared/navigation_pane' %>
  </div>
  <%= render 'shared/navigation_bottom_menu' %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-inline-flex">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <h5 class="modal-title" id="exampleModalLabel">Select an emergency contact:</h5>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
      <% @contacts.each do |contact| %>
        <a class="button-sos" href="tel:<%= contact.phone_number %>"> <%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %></a>
      <% end %>
      </div>
    </div>
  </div>
</div>
