
<% if @journey %>

  <%# Whole page if from journey %>
  <div class="survey-success">
    <%= image_tag "survey.png", class: "survey-img" %>
    <h2>Your response has been submitted!</h2>
    <p>Thank you for taking the time to complete the survey.
    Every response counts!</p>

    <%= link_to root_path do %>
      <button class="button-blue"> Go back home </button>
    <% end %>

    <%= link_to journey_incidents_path(@journey) do %>
      <button class="button-blue success-incidents-button">Return to list of incidents</button>
    <% end %>
  </div>

<% else %>

  <%# Whole page if from home %>
  <div class="survey-success">
    <%= image_tag "survey.png", class: "survey-img-home" %>
    <h2>Your response has been submitted!</h2>
    <p>Thank you for taking the time to complete the survey.
    Every response counts!</p>

    <%= link_to root_path do %>
      <button class="button-blue"> Go back home </button>
    <% end %>
  </div>

<% end %>
